div style="width:50; text-align:center;"
  h1
    Dados Meteriológicos
  div.list-data
    ul
      li
        i.fas.fa-thermometer-half style="color:#cf4545;"
        span.dht-labels
          | Temperatura
        span#temperatura
          = @temperature
        sup
          | &deg;C
      li
        i.fas.fa-tint style="color:#44b5ce;"
        span.dht-labels
          | Umidade
        span#umidade
          = @humidity
        sup
          | %

javascript type="module":
  const { GetRecurrenceData } = window.weatherViewer.pages.overview

  new GetRecurrenceData()
