doctype html
html lang="pt-br"
  head
    title EspServer Metiorologico
    meta charset="utf-8" /
    meta name="viewport" content="width=device-width,initial-scale=1" /
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"

    = stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    = stylesheet_link_tag "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css" \
                          "/line-awesome.min.css"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  body style="display:flex; justify-content:center;"
    = yield
